Source: ros-hydro-teleop-tools
Section: misc
Priority: extra
Maintainer: Bence Magyar <bence.magyar@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-teleop-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-joy-teleop, ros-hydro-key-teleop
Description: A set of generic teleoperation tools for any robot.
